<h1 ng-bind="tenderloin"></h1>

<p ng-show="opened">socket is open</p>

<form ng-submit="User.login(username, password)">
  <input placeholder="Username" ng-model="username">
  <input placeholder="Password" ng-model="password" type="password">
  <input value="Login" type="submit">
</form>

<div ng-show="game">
  <h2>Game, id: {{game_id}}</h2>
  <div ng-show="hand">
    <h3>Hand</h3>
    <ul ng-repeat="tile in hand track by $index">
      <li ng-bind="tile"></li>
    </ul>
  </div>

</div>

<form ng-submit="send(message)">
  <ol reversed>
    <li ng-repeat="msg in msgs">
      <strong>{{msg.username}}</strong>
      <span ng-if="msg.message">said: {{msg.message}}</span>
      <span ng-if="!msg.message">has: {{msg.type}}ed</span>
    </li>
  </ol>
  <input autofocus ng-model="message">
  <input type="submit" value="Send">
</form>
